
.fast{
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector, .pointer {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.img-account {
  width: 200px;
  height: 200px;
}
